.navbar__navbar {
	width: 100%;
	border: 1px solid var(--border-soft);
	border-left: none;

	display: flex;
	position: absolute;
	z-index: 1;
}

.navbar__navbar.secondary {
    --primary-text: var(--secondary-text);
}

.navbar__logoWrapper {
	min-width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid var(--border-soft);
	border-right: 1px solid var(--border-soft);
}

.navbar__logoWrapper > svg {
	width: 40px;
	height: 40px;
}

.navbar__spaceWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0.4em 1em;
	color: var(--primary-text);
}

.navbar__linksWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar__linksWrapper > a {
	color: var(--primary-text);
	text-decoration: none;
	font-size: 0.8em;
	padding: 0 1em;
	height: 100%;
}

.navbar__mobile {
    display: none;
}

@media screen and (max-width: 660px) {
	.navbar__linksWrapper {
		display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: var(--secondary-text);
        padding: 1rem;
	}

    .navbar__linksWrapper.secondary {
        background: var(--primary-text);
    }

    .navbar__mobile {
        display: block;
        color: var(--primary-text);
    }

    .navbar__linksWrapper:not(.navbar__closed) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }

    .navbar__linksWrapper > * {
        height: min-content !important;
        padding: 1rem 1rem;
        width: 100%;
    }

    .navbar__mobile__close {
        display: flex;
        justify-content: flex-end;
    }

    .navbar__closed {
        display: none;
    }
}
