.visimisi__main {
	padding: 5rem 12rem;
}

.visimisi__main#misi {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.visimisi__main#misi > * {
    width: 50%;
}

.visimisi__header {
	background-image: var(--primary-header-text);
	font-weight: 700;
	font-size: 10rem;
	margin: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.visimisi__text {
	color: var(--primary-text);
}

@media screen and (max-width: 660px) {
	.visimisi__main {
		padding: 7rem 1em;
	}
}
