$gapInterval: 10px;
$widthAmount: 10;

.flex {
	display: flex;

	&[direction="0"] {
		flex-direction: row;
	}

	&[direction="1"] {
		flex-direction: column;
	}

	// Space Between
	&[spacebetween=true] {
		justify-content: space-between;
	}

	// Centers
	&[verticalcenter=true] {
		align-items: center;
	}

	// Width
	&[width="-2"] {
		width: 100%;
	}
	
	&[width="-1"] {
		width: max-content;
	}

	@for $i from 1 through $widthAmount {
		&[width="#{$i}"] {
			flex: $i;
		}

		&[gap="#{$i}"] {
			gap: $gapInterval * $i;
		}
	}
}
