$normal: #000000;
$hover: #5e5e5e;
$focused: #3e3e3e;

.a {
	color: $normal;
	text-decoration: underline dotted;

	&:hover {
		color: $hover;
		text-decoration: underline;
	}

	&:focus {
		color: $focused;
	}
}
