body {
	margin: 0;
	min-height: 100vh;
}

body * {
	outline: 0;
	box-sizing: border-box;
	
	font-family: Lexend;
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Philosopher;
	font-size: revert;
}

#root {
	height: 100%;


	--primary-text: #ffffff;

	--border-soft: #f4f4f4;
}
