body {
	margin: 0;
	min-height: 100vh;
	text-rendering: optimizeLegibility;
}

body * {
	outline: 0;
	box-sizing: border-box;
	
	font-family: Lexend;
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Philosopher;
	font-size: revert;
}

button {
	border: 0;
	padding: 0.4em 0.7em;
	font-weight: normal;
	border-radius: var(--border-radius-second);
	margin: 0;
	cursor: pointer;
}

#root {
	height: 100%;


	--primary-text: #ffffff;

	--border-soft: #f4f4f4;
	--border-radius-second: 5px;
}
