body {
	font-family: Inter;
	padding: 50px 150px;
	margin: 0;
}

p {
	max-width: 80ch;
}

p.small {
	max-width: 40ch;
}


.redirector{
	border: 5px ridge black;
	padding: 10px;
	text-transform: capitalize;
	font-size: 5rem;
	font-weight: bold;
	color: red;
	text-align: center;
	margin: auto;
	width: fit-content;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}