nav {
	display: flex;

	padding: 0 10vw;

	align-items: center;
	justify-content: space-between;

	> div.links {
		display: flex;
		gap: 30px;
	}
}

article.hero {
	display: flex;

	padding: 10vw;

	> div {
		&.left {
			flex: 1;
		}

		&.right {
			flex: 2;
		}
	}
}

article.narative {
	padding: 0 10vw;

	> h2 {
		width: 20ch;
	}

	> div.columns {
		display: flex;
		gap: 30px;

		> * {
			width: 50ch;
			text-align: justify;
		}
	}
}
