@import "color";

nav {
	display: flex;
	background: $primary;
	color: $secondary;

	padding: 0 10vw;

	align-items: center;
	justify-content: space-between;

	> div.links {
		display: flex;

		gap: 30px;

		& > a {
			color: $secondary;
		}
	}
}

article.hero {
	display: flex;
	background: $primary;
	color: $secondary;

	padding: 10vw;

	> div {
		&.left {
			flex: 1;
		}

		&.right {
			flex: 1;
		}
	}
}

article.narative {
	padding: 0 10vw;

	> h2 {
		width: 15ch;
	}

	> div.columns {
		display: flex;
		gap: 30px;

		> * {
			width: 50ch;
		}
	}

	ul {
		padding-left: 0;
	}
}

footer {
	padding: 0 10vw;
	margin-top: 10vw;

	> p.disclaimer {
		text-align: center;
		opacity: 0.8;
	}
}
